

.arqui {
  
    animation:subir 4s infinite linear alternate;
}

.subi {
    animation: icon 4s infinite linear alternate;
}

.desce {
    animation: icon2 4s infinite linear alternate;
}
.outro {
    animation: icon3 4s infinite linear alternate;
}

@keyframes subir {
    from {
        margin-top:-15%
    }
    to
    {
        margin-top:-10%
    }

}

@keyframes icon {
    from {
        margin-top: 0%
    }

    to {
        margin-top: 10%
    }
}

@keyframes icon2 {
    from {
        margin-top: -5%
    }

    to {
        margin-top: 0%
    }
}
@keyframes icon3 {
    from {
        margin-top: 0%
    }

    to {
        margin-top: 10%
    }
}